# Sequential removal of links and resiliency testing

- Disruption of a network by removal of links, based on:
    + Sum of betweenness centrality of from and to nodes
    + Volume of commodity flow
- Calculation of performance in terms of cost and unmet demand by re-running disrupted network. 
- Plot link removal along x-axis and performance on y-axis, comparing networks of differing evenness. Dynamic report generated in an RMarkdown automatically from this Notebook.

**Assumptions**

- Working in a Python 3.x environment for this notebook
    + Refer to the README in this repository for instructions on setup of all dependencies with `conda`
- Access to ArcGIS license server if necessary
- FTOT scenario was run with Network Density Reduction (NDR) off
    + NDR_On should be False in the scenario XML file

*Reference*

- [NetworkX Documentation](https://networkx.github.io/documentation/stable/tutorial.html)

In [1]:
import pandas as pd
import geopandas as gpd
import sqlalchemy 
import networkx as nx
import os
import pickle
import momepy # for conversion from geopandas GeoDataFrame to networkX Graph
import subprocess
import shutil
import webbrowser
import resiliency_disruptions

# Uses Reference Scenario 7 as an example. Modify `scen_name` and `scen_path` for your scenario.
scen_name = 'rs7_capacity'
scen_path = r'C:\FTOT\scenarios\reference_scenarios\rs7_capacity'

shp_path = os.path.join(scen_path, 'temp_networkx_shp_files')

picklename = os.path.join(scen_path, 'BetweenessG.pickle')

if not os.path.exists(shp_path):
    print('Please modify the FTOT code using the `ftot_networkx.py` and `ftot_routing.py` scripts in this repository and run the scenario again.')

In [2]:
# Read in prepared betweeness centrality and road network graph data
# If these don't exist, the following steps will create them
if os.path.exists(picklename):
    file = open(picklename, 'rb')
    betweenness_dict_road = pickle.load(file)
    G_road = pickle.load(file)

In [3]:
# Start by using betweenness centrality calculation using networkX
if not os.path.exists(picklename):
    road = gpd.read_file(os.path.join(shp_path, 'road.shp'))
    
    # convert from geodataframe to Graph for networkX
    G_road = momepy.gdf_to_nx(road, approach='primal')
    
    # Process the networkX graph
    G_road = nx.convert_node_labels_to_integers(G_road, first_label=0, ordering='default', label_attribute="xy_coord_label")

In [4]:
# Run betweenness centrality on the NetworkX graph
# Note: This step might take several minutes to a few hours
# Run if pickle not available
if not os.path.exists(picklename):
    print('Running Betweenness Centrality calculations. This might take more than 20 minutes.')
    betweenness_dict_road = nx.betweenness_centrality(G_road, normalized=False, weight='Length')
    print('Completed Betweenness Centrality calculations.')

In [5]:
# Save with pickle
# On load, need to know that there are two objects in this pickle, the betweenness centrality dict and the network G
if not os.path.exists(picklename):
    with open(picklename, 'wb') as handle:
        pickle.dump(betweenness_dict_road, handle)
        pickle.dump(G_road, handle)

## Join Betweenness Centrality calculations to edges

- Sum BC for each node of a link
- Create data frame for repeated link removal

In [6]:
# Read in FTOT data
print(scen_path)
db_name = 'main.db'

db_path = 'sqlite:///' + os.path.join(scen_path, db_name)

engine = sqlalchemy.create_engine(db_path)

table_name = 'networkx_edges'
nx_edges = pd.read_sql_table(table_name, engine)

table_name = 'networkx_nodes'
nx_nodes = pd.read_sql_table(table_name, engine)

table_name = 'optimal_variables'
optimal_vars = pd.read_sql_table(table_name, engine)

C:\FTOT\scenarios\reference_scenarios\rs7_capacity

In [7]:
optimal_vars

,variable_type,var_id,variable_value,converted_capacity,converted_volume,converted_capac_minus_volume,edge_type,commodity_name,o_facility,d_facility,...,units,variable_name,nx_edge_id,mode,mode_oid,length,original_facility,final_facility,prior_edge,distance_travelled
0,Edge,1,181436.9500,NaN,NaN,NaN,connector,freight_bulk,rmp_25017,rmp_25017,...,metric_ton,Edge_1,NaN,None,NaN,NaN,None,None,None,None
1,Edge,2,9071.8474,NaN,NaN,NaN,connector,freight_parcel,dest_25005,dest_25005,...,metric_ton,Edge_2,NaN,None,NaN,NaN,None,None,None,None
2,Edge,3,22679.6180,NaN,NaN,NaN,connector,freight_parcel,dest_25009,dest_25009,...,metric_ton,Edge_3,NaN,None,NaN,NaN,None,None,None,None
3,Edge,4,68038.8560,NaN,NaN,NaN,connector,freight_parcel,dest_25021,dest_25021,...,metric_ton,Edge_4,NaN,None,NaN,NaN,None,None,None,None
4,Edge,5,22679.6180,NaN,NaN,NaN,connector,freight_parcel,dest_25023,dest_25023,...,metric_ton,Edge_5,NaN,None,NaN,NaN,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,Edge,34075,58967.0080,NaN,0.0,NaN,transport,freight_parcel,None,dest_25027,...,metric_ton,Edge_34075,17043.0,road,311232.0,0.036034,None,None,None,None
493,Edge,34081,58967.0080,704385.369727,312744.0,391641.369727,transport,freight_parcel,None,None,...,metric_ton,Edge_34081,17046.0,road,311217.0,0.000161,None,None,None,None
494,Edge,34083,81646.6270,728794.816589,206676.0,522118.816589,transport,freight_parcel,None,None,...,metric_ton,Edge_34083,17047.0,road,311220.0,0.075613,None,None,None,None
495,Edge,34084,181436.9500,NaN,0.0,NaN,transport,freight_bulk,None,proc_25025,...,metric_ton,Edge_34084,17048.0,road,311234.0,0.239426,None,None,None,None
496,Edge,34086,99790.3210,728794.816589,206676.0,522118.816589,transport,freight_parcel,None,None,...,metric_ton,Edge_34086,17049.0,road,311219.0,0.217271,None,None,None,None

In [8]:
road_orig_label = gpd.read_file(os.path.join(shp_path, 'road.shp'))
# convert from geodataframe to Graph for networkX
G_road_orig_label = momepy.gdf_to_nx(road_orig_label, approach='primal')

In [9]:
road_orig_label_nodes = list(G_road_orig_label.nodes) # these values are the shape_x and shape_y values in `networkx_nodes` 
# Use that to get node_id from networkx_edges in the database,
# Then use those id values to get edges info
# Then line up the new integer labels with this list of ids to get betweenness centrality for each node

In [10]:
# Make the betweenness_centrality values as the framework to join in shape_x, shape_y, and node_id
bc_df_road = pd.DataFrame.from_dict(betweenness_dict_road, orient = 'index')
bc_df_road = bc_df_road.rename(columns = {0: 'BC'})

In [11]:
node_shape_df_road = pd.DataFrame(road_orig_label_nodes)

bc_shape_df_road = pd.concat([bc_df_road, node_shape_df_road], axis = 1)
bc_shape_df_road = bc_shape_df_road.rename(columns = {0: 'shape_x', 1: 'shape_y'})

# Now add node_id from networkx_nodes, using pandas merge with left join
# Use both shape_x and shape_y to identify the nodes correctly

bc_node_df = pd.merge(bc_shape_df_road, nx_nodes, on = ['shape_x', 'shape_y'], how = 'left')

In [12]:
# Now use this dataframe to populate a dataframe of edges
# We will want the following from networkx_edges:
# edge_id, from_node_id, to_node_id, mode_source, miles, mode_source_oid, 
# Then using the node_id column in the new bc_node_df, add these:
# from_node_BC, to_node_BC
# and sum those for sum_node_BC
merge_from = pd.merge(nx_edges, bc_node_df[['BC', 'node_id']],
                      left_on = 'from_node_id',
                      right_on = 'node_id',
                      how = 'left')
merge_from = merge_from.rename(columns = {'BC': 'from_node_BC'})

merge_to = pd.merge(merge_from, bc_node_df[['BC', 'node_id']],
                    left_on = 'to_node_id',
                    right_on = 'node_id',
                    how = 'left')
merge_to = merge_to.rename(columns = {'BC': 'to_node_BC'})

# Sum the BC values

merge_to['sum_BC'] = merge_to.filter(like = "node_BC").sum(axis = 1)

# Then from optimal_variables, get variable_name, nc_edge_id, mode, mode_oid, miles,
# variable_value, converted_capacity, and converted_volume

use_opt_vars = ['variable_type',
               'var_id',
               'variable_value',
                'variable_name',
                'nx_edge_id',
                'mode_oid',
                'converted_capacity',
                'converted_volume'
               ]

merge_opt = pd.merge(merge_to, optimal_vars[use_opt_vars],
                     left_on = 'edge_id',
                     right_on = 'nx_edge_id',
                     how = 'left')

In [13]:
merge_to

,edge_id,from_node_id,to_node_id,artificial,mode_source,mode_source_oid,length,route_cost_scaling,capacity,volume,VCR,from_node_BC,node_id_x,to_node_BC,node_id_y,sum_BC
0,1,131,1922,2,road,274,3.541860,1.0,NaN,0.0,0.000000,0.0,131,7421.0,1922,7421.0
1,2,198,1923,2,road,341,0.275609,1.0,NaN,0.0,0.000000,0.0,198,131931.0,1923,131931.0
2,3,237,1924,2,road,380,0.087752,1.0,NaN,0.0,0.000000,0.0,237,170486.0,1924,170486.0
3,4,247,1925,2,road,390,0.129394,1.0,NaN,0.0,0.000000,0.0,247,932402.0,1925,932402.0
4,5,251,1926,2,road,394,0.238547,1.0,NaN,0.0,0.000000,0.0,251,7421.0,1926,7421.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17044,17045,9308,6913,0,road,311218,0.445001,1.1,29349.390405,13031.0,0.443996,125045.0,9308,279222.0,6913,404267.0
17045,17046,9308,9307,0,road,311217,0.000161,1.1,29349.390405,13031.0,0.443996,125045.0,9308,112007.0,9307,237052.0
17046,17047,9309,5559,0,road,311220,0.075613,1.1,30366.450691,8611.5,0.283586,185477.0,9309,184195.0,5559,369672.0
17047,17048,9309,1720,1,road,311234,0.239426,1.3,NaN,0.0,0.000000,185477.0,9309,0.0,1720,185477.0
17048,17049,9309,5562,0,road,311219,0.217271,1.1,30366.450691,8611.5,0.283586,185477.0,9309,173349.0,5562,358826.0

In [14]:
optimal_vars[use_opt_vars]

,variable_type,var_id,variable_value,variable_name,nx_edge_id,mode_oid,converted_capacity,converted_volume
0,Edge,1,181436.9500,Edge_1,NaN,NaN,NaN,NaN
1,Edge,2,9071.8474,Edge_2,NaN,NaN,NaN,NaN
2,Edge,3,22679.6180,Edge_3,NaN,NaN,NaN,NaN
3,Edge,4,68038.8560,Edge_4,NaN,NaN,NaN,NaN
4,Edge,5,22679.6180,Edge_5,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
492,Edge,34075,58967.0080,Edge_34075,17043.0,311232.0,NaN,0.0
493,Edge,34081,58967.0080,Edge_34081,17046.0,311217.0,704385.369727,312744.0
494,Edge,34083,81646.6270,Edge_34083,17047.0,311220.0,728794.816589,206676.0
495,Edge,34084,181436.9500,Edge_34084,17048.0,311234.0,NaN,0.0
496,Edge,34086,99790.3210,Edge_34086,17049.0,311219.0,728794.816589,206676.0

In [15]:
merge_opt.head(3)

,edge_id,from_node_id,to_node_id,artificial,mode_source,mode_source_oid,length,route_cost_scaling,capacity,volume,...,node_id_y,sum_BC,variable_type,var_id,variable_value,variable_name,nx_edge_id,mode_oid,converted_capacity,converted_volume
0,1,131,1922,2,road,274,3.541860,1.0,NaN,0.0,...,1922,7421.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,198,1923,2,road,341,0.275609,1.0,NaN,0.0,...,1923,131931.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,237,1924,2,road,380,0.087752,1.0,NaN,0.0,...,1924,170486.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# Create ranked lists of edges to remove
# First, keep only edges in the optimal solution
# Then rank by sum_BC
# Then just keep the columns we need, and reset the index
use_cols = ['edge_id', 'from_node_id', 'to_node_id', 'length', 'capacity', 'volume', 'sum_BC',
            'variable_type', 'variable_value', 'variable_name', 'nx_edge_id', 'mode_oid', 'converted_capacity', 'converted_volume']

edges_remove = merge_opt[merge_opt['variable_value'] > 0].sort_values(by = 'sum_BC', ascending = False).filter(items = use_cols).reset_index()

edges_remove.to_csv(os.path.join(scen_path, 'Edges_to_Remove.csv'),
                    index = False)

edges_remove.head(3)

,index,edge_id,from_node_id,to_node_id,length,capacity,volume,sum_BC,variable_type,variable_value,variable_name,nx_edge_id,mode_oid,converted_capacity,converted_volume
0,12274,12275,7083,6462,0.008748,13693.044821,3989.5,5032529.0,Edge,62859.299,Edge_24545,12275.0,260309.0,328633.075697,95748.0
1,13921,13922,7822,7081,0.010296,13144.687251,3989.5,4970566.0,Edge,62859.299,Edge_27839,13922.0,260314.0,315472.494024,95748.0
2,12271,12272,7082,7083,0.195281,13693.044821,3989.5,4955037.0,Edge,62859.299,Edge_24539,12272.0,244855.0,328633.075697,95748.0

## Create Scenarios, Disrupt, Run FTOT

Create disrupted network by copying everything in `scen_path` to a new directory.

Then overwrite the `networkx_edges` tables in that main.db with the disrupted versions.

##### Assumptions:

  1. ArcGIS with 64-bit geoprocessing is installed.
  2. The FTOT version being used has been modified according to the `README` in this directory.

In [17]:
disrupt_type = 'BC' # Can disrupt based on betweenness centrality, 'BC', or volume, 'V'
disrupt_steps = 25  # This is the number of steps to use. Recommend at least 25.

resiliency_disruptions.make_disruption_scenarios(disrupt_type, disrupt_steps, scen_path)

Prepared 25 scenarios based on rs7_capacity

In [18]:
resiliency_disruptions.disrupt_network(disrupt_type, disrupt_steps, scen_path, edges_remove)

Disrupted 25 scenarios

In [19]:
PYTHON = r"C:\FTOT\python3_env\python.exe"
repo_location = %pwd
repo_location = os.path.split(repo_location)[0]
FTOT = r"C:\FTOT\program\ftot.py" # Optionally: os.path.join(repo_location, 'program', 'ftot.py')
print(FTOT)

C:\FTOT\program\ftot.py

In [20]:
# Begin running O steps of FTOT on the disupted scenarios
# This may take several hours, depending on size of the network and number of steps

results = resiliency_disruptions.run_o_steps(disrupt_type, disrupt_steps, scen_path, PYTHON, FTOT)

Running o1 for disrupt01
Running o2 for disrupt01
Running p for disrupt01
Running d for disrupt01
Running m for disrupt01
Preparing to search over o2_log_2024_01_05_10-46-19.log
  disrupt_step unmet_demand unmet_cost nedge total_cost
0           01            0          0   495      2,529
Running o1 for disrupt02
Running o2 for disrupt02
Running p for disrupt02
Running d for disrupt02
Running m for disrupt02
Preparing to search over o2_log_2024_01_05_10-52-05.log
  disrupt_step unmet_demand unmet_cost nedge total_cost
0           02            0          0   495      2,529
Running o1 for disrupt03
Running o2 for disrupt03
Running p for disrupt03
Running d for disrupt03
Running m for disrupt03
Preparing to search over o2_log_2024_01_05_10-59-19.log
  disrupt_step unmet_demand unmet_cost nedge total_cost
0           03            0          0   495      2,529
Running o1 for disrupt04
Running o2 for disrupt04
Running p for disrupt04
Running d for disrupt04
Running m for disrupt04
Preparing to search over o2_log_2024_01_05_11-05-17.log
  disrupt_step unmet_demand unmet_cost nedge total_cost
0           04            0          0   495      2,529
Running o1 for disrupt05
Running o2 for disrupt05
Running p for disrupt05
Running d for disrupt05
Running m for disrupt05
Preparing to search over o2_log_2024_01_05_11-11-07.log
  disrupt_step unmet_demand unmet_cost nedge total_cost
0           05            0          0   495      2,529
Running o1 for disrupt06
Running o2 for disrupt06
Running p for disrupt06
Running d for disrupt06
Running m for disrupt06
Preparing to search over o2_log_2024_01_05_11-16-31.log
  disrupt_step unmet_demand unmet_cost nedge total_cost
0           06            0          0   495      2,529
Running o1 for disrupt07
Running o2 for disrupt07
Running p for disrupt07
Running d for disrupt07
Running m for disrupt07
Preparing to search over o2_log_2024_01_05_11-21-43.log
  disrupt_step unmet_demand unmet_cost nedge total_cost
0           07            0          0   502      2,580
Running o1 for disrupt08
Running o2 for disrupt08
Running p for disrupt08
Running d for disrupt08
Running m for disrupt08
Preparing to search over o2_log_2024_01_05_11-27-00.log
  disrupt_step unmet_demand unmet_cost nedge total_cost
0           08            0          0   495      2,581
Running o1 for disrupt09
Running o2 for disrupt09
Running p for disrupt09
Running d for disrupt09
Running m for disrupt09
Preparing to search over o2_log_2024_01_05_11-32-32.log
  disrupt_step unmet_demand unmet_cost nedge total_cost
0           09            0          0   505      2,584
Running o1 for disrupt10
Running o2 for disrupt10
Running p for disrupt10
Running d for disrupt10
Running m for disrupt10
Preparing to search over o2_log_2024_01_05_11-37-43.log
  disrupt_step unmet_demand unmet_cost nedge total_cost
0           10            0          0   505      2,584
Running o1 for disrupt11
Running o2 for disrupt11
Running p for disrupt11
Running d for disrupt11
Running m for disrupt11
Preparing to search over o2_log_2024_01_05_11-42-34.log
  disrupt_step unmet_demand unmet_cost nedge total_cost
0           11            0          0   505      2,584
Running o1 for disrupt12
Running o2 for disrupt12
Running p for disrupt12
Running d for disrupt12
Running m for disrupt12
Preparing to search over o2_log_2024_01_05_11-47-29.log
  disrupt_step unmet_demand unmet_cost nedge total_cost
0           12            0          0   505      2,584
Running o1 for disrupt13
Running o2 for disrupt13
Running p for disrupt13
Running d for disrupt13
Running m for disrupt13
Preparing to search over o2_log_2024_01_05_11-52-01.log
  disrupt_step unmet_demand unmet_cost nedge total_cost
0           13            0          0   505      2,584
Running o1 for disrupt14
Running o2 for disrupt14
Running p for disrupt14
Running d for disrupt14
Running m for disrupt14
Preparing to search over o2_log_2024_01_05_11-57-49.log
  disrupt_step unmet_demand unmet_cost nedge total_cost
0           14            0          0   505      2,584
Running o1 for disrupt15
Running o2 for disrupt15
Running p for disrupt15
Running d for disrupt15
Running m for disrupt15
Preparing to search over o2_log_2024_01_05_12-03-32.log
  disrupt_step unmet_demand unmet_cost nedge total_cost
0           15            0          0   505      2,584
Running o1 for disrupt16
Running o2 for disrupt16
Running p for disrupt16
Running d for disrupt16
Running m for disrupt16
Preparing to search over o2_log_2024_01_05_12-09-28.log
  disrupt_step unmet_demand unmet_cost nedge total_cost
0           16            0          0   505      2,584
Running o1 for disrupt17
Running o2 for disrupt17
Running p for disrupt17
Running d for disrupt17
Running m for disrupt17
Preparing to search over o2_log_2024_01_05_12-15-12.log
  disrupt_step unmet_demand unmet_cost nedge total_cost
0           17            0          0   505      2,584
Running o1 for disrupt18
Running o2 for disrupt18
Running p for disrupt18
Running d for disrupt18
Running m for disrupt18
Preparing to search over o2_log_2024_01_05_12-21-26.log
  disrupt_step unmet_demand unmet_cost nedge total_cost
0           18            0          0   513      2,584
Running o1 for disrupt19
Running o2 for disrupt19
Running p for disrupt19
Running d for disrupt19
Running m for disrupt19
Preparing to search over o2_log_2024_01_05_12-27-22.log
  disrupt_step unmet_demand unmet_cost nedge total_cost
0           19            0          0   513      2,584
Running o1 for disrupt20
Running o2 for disrupt20
Running p for disrupt20
Running d for disrupt20
Running m for disrupt20
Preparing to search over o2_log_2024_01_05_12-32-12.log
  disrupt_step unmet_demand unmet_cost nedge total_cost
0           20            0          0   513      2,584
Running o1 for disrupt21
Running o2 for disrupt21
Running p for disrupt21
Running d for disrupt21
Running m for disrupt21
Preparing to search over o2_log_2024_01_05_12-36-53.log
  disrupt_step unmet_demand unmet_cost nedge total_cost
0           21            0          0   513      2,584
Running o1 for disrupt22
Running o2 for disrupt22
Running p for disrupt22
Running d for disrupt22
Running m for disrupt22
Preparing to search over o2_log_2024_01_05_12-41-36.log
  disrupt_step unmet_demand unmet_cost nedge total_cost
0           22            0          0   513      2,584
Running o1 for disrupt23
Running o2 for disrupt23
Running p for disrupt23
Running d for disrupt23
Running m for disrupt23
Preparing to search over o2_log_2024_01_05_12-46-10.log
  disrupt_step unmet_demand unmet_cost nedge total_cost
0           23            0          0   474      2,589
Running o1 for disrupt24
Running o2 for disrupt24
Running p for disrupt24
Running d for disrupt24
Running m for disrupt24
Preparing to search over o2_log_2024_01_05_12-50-46.log
  disrupt_step unmet_demand unmet_cost nedge total_cost
0           24            0          0   474      2,589
Running o1 for disrupt25
Running o2 for disrupt25
Running p for disrupt25
Running d for disrupt25
Running m for disrupt25
Preparing to search over o2_log_2024_01_05_12-56-59.log
  disrupt_step unmet_demand unmet_cost nedge total_cost
0           25            0          0   474      2,589

#### Optional: Repeat with volume-based disruptions

Creates a separate directory tree for the volume-based disruptions and carries out the disruption steps on that set.

Set the variable `DO_VOLUME` to `True` to run the following steps.

In [21]:
DO_VOLUME = False

if DO_VOLUME:

    disrupt_type = 'V'
    disrupt_steps = 50

    resiliency_disruptions.make_disruption_scenarios(disrupt_type, disrupt_steps, scen_path)
    resiliency_disruptions.disrupt_network(disrupt_type, disrupt_steps, scen_path, edges_remove)
    results = resiliency_disruptions.run_o_steps(disrupt_type, disrupt_steps, scen_path, PYTHON, FTOT)
    results

## Generate disruption result report

In [2]:
R_process = subprocess.Popen(['Rscript.exe', 'compile_report.R', scen_path],
                             stdout = subprocess.PIPE, stderr = subprocess.PIPE)

here = os.getcwd()
webbrowser.open('file://' + os.path.realpath(os.path.join(here, 'Disruption_Results.html')))

True